/* General Styles (start) **********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    user-select: none;
}

.quiz-cont {
    position: relative;
    display: flex;
    justify-content: center;
}

.question {
    display: none;
    height: 25rem;
    width: 25rem;
    justify-content: center;
    border-radius: 2.5rem;
    position: relative;
}

.header {
    background: linear-gradient(144deg, rgba(255,107,0,1) 0%, rgba(255,207,82,1) 100%);
    width: inherit;
    height: 6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    font-size: 1.2rem;
}

.header p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
}

.body {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    width: 90%;
}

.choice {
    color: orange;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem 0;
    padding: 1.4rem 1rem;
    width: 100%;
    border: 3px solid orange;
    border-radius: 5rem;
}

.prev, .next {
    color: orange;
    transform: translateY(50%);
    bottom: 50%;
    position: absolute;
    font-size: 7rem;
}

.next {
    right: -6rem;
}

.prev {
    left: -6rem;
}

button {
    outline: 5px solid rgba(255, 166, 0, 0.582);
    border: none;
    border-radius: 5rem;
    color: #fff;
    background-color: orange;
    position: absolute;
    bottom: -4.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

button:hover {
    outline: none;
}
/* General Styles (end) **********************************/

/* Styles for utility (start)*****************************/
.current {
    display: flex;
    box-shadow: 0 0 1rem #2a2a2a;
}

.active {
    background-color: orange;
    color: #fff;
    outline: 5px solid rgb(255, 197, 88);
}
/* Styles for utility (end) *****************************/