/* General Styles (start) **********************************/
:root {
    --color-primary: orange;
    --color-primary-transparent: #ffa60094;
    --color-primary-gradient: linear-gradient(144deg, #ff6b00 0%, #ffcf52 100%);
    --color-light: #fff;
    --color-dark: #2a2a2a;
}

* {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    user-select: none;
}

.quiz-cont {
    position: relative;
    display: flex;
    justify-content: center;
}

.question {
    display: none;
    height: 25rem;
    width: 25rem;
    justify-content: center;
    border-radius: 2.5rem;
    position: relative;
}

.header {
    background: var(--color-primary-gradient);
    width: inherit;
    height: 25%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    font-size: 1.2rem;
}

.header p {
    font-weight: 600;
    color: var(--color-light);
}

.body {
    height: 75%;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.choice {
    color: var(--color-primary);
    font-size: 1.2rem;
    margin: 0.5rem 0;
    padding: 7%;
    width: 100%;
    border: 3px solid var(--color-primary);
    border-radius: 5rem;
}

.prev, .next {
    color: var(--color-primary);
    transform: translateY(50%);
    bottom: 50%;
    position: absolute;
    font-size: 7rem;
}

.next {
    right: -6rem;
}

.prev {
    left: -6rem;
}

button {
    outline: 5px solid var(--color-primary-transparent);
    border: none;
    border-radius: 5rem;
    color: var(--color-light);
    background-color: var(--color-primary);
    position: absolute;
    bottom: -4.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

button:hover {
    outline: none;
}
/* General Styles (end) **********************************/

/* Styles for utility (start)*****************************/
.current {
    display: flex;
    box-shadow: 0 0 1rem var(--color-dark);
}

.active {
    background-color: var(--color-primary);
    color: var(--color-light);
    outline: 5px solid var(--color-primary-transparent);
}
/* Styles for utility (end) *****************************/